---
import '../styles/global.css';
import '../components/Header.astro';
import '../components/Footer.astro';
---
<html lang="en">
  <body>
    <slot name="header" />
    <main>
      <slot />
    </main>
    <slot name="footer" />
  </body>
</html>